@font-face {
  font-family: "JetBrainsMono Nerd Font";
  src: url("./fonts/JetBrainsMonoNerdFont-Regular.ttf");
}

li,
ul,
ol,
p {
  font-size: 0.8rem;
  line-height: 1.6;
}

code,
pre {
  font-size: 0.8rem;
}

li.md-nav__item {
  font-size: 0.7rem;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300 !important;
}
.md-grid {
  max-width: 85%;
}

termynal-comment {
  color: #4a968f;
  font-style: italic;
  display: block;
}

.termy {
  /* For right to left languages */
  direction: ltr;
}

.termy [data-termynal] {
  white-space: pre-wrap;
}

.termy .linenos {
  display: none;
}

.termy button.md-code__button {
  display: none;
}
