@font-face {
  font-family: "JetBrainsMono Nerd Font";
  src: url("./fonts/JetBrainsMonoNerdFont-Regular.ttf");
}

:root {
  --default-text-color: black;
}

[data-md-color-scheme="default"] .md-typeset p,
[data-md-color-scheme="default"] .md-typeset ul,
[data-md-color-scheme="default"] .md-typeset ol,
[data-md-color-scheme="default"] .md-typeset li {
  color: var(--default-text-color);
}

p,
li,
ul,
ol {
  line-height: 1.7;
}

p,
li,
ul,
ol,
pre,
code {
  font-size: 0.8rem;
}

div.admonition p {
  font-size: 0.7rem;
}

ul.md-nav__list li {
  font-size: 0.7rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400 !important;
}

.md-typeset pre,
.md-typeset .highlight {
  border-radius: 10px !important;
  overflow: hidden;
}

termynal-comment {
  color: #4a968f;
  font-style: italic;
  display: block;
}

.termy {
  /* For right to left languages */
  direction: ltr;
}

.termy [data-termynal] {
  white-space: pre-wrap;
}

.termy .linenos {
  display: none;
}

.termy button.md-code__button {
  display: none;
}
